.page{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--white-color);
    letter-spacing: 0.02em;
}

.page.no-scroll{
    overflow: hidden;
}

:root{
/* Цвета */

    --main-color: #4D5AE5;
    --white-color: #FFFFFF;
    --button-color: #404BBF;
    --link-color:#2E2F42;
    --logo-color:#F4F4FD;
    --border-color:  #E7E9FC;
    --now-link-color: #434455;
    --border-radius: #8E8F99;
    --hover-border:#AFB1B8;
    --footer-hover:#31D0AA;
    --background-footer:#FFFFFF1A;
    --backdrop:rgba(46, 47, 66, 0.4);
    --modal-background:#FCFCFC;

/* Анимация времени */

    --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-idx: 100;

}

*{
    outline: 2px soli tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0px;
}

ul,
ol{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.conteiner{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    width: 1158px;
}

img{
    display: block;
    min-width: 100%;
    height: auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.header{
    border-bottom: 1px solid #E7E9FC;
 
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.conteiner.main-nav{
    display: flex;
}

.logo-nav{
    display: flex;
}

.accent{
    color: var(--main-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo{
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--link-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.now-link.current{
    color: var(--main-color);
}

.navigation-nav{
    display: flex;
    margin-left: 76px;
}

.navigation-nav .item:not(:last-child) {
    margin-right: 40px;
}

.contacts-nav.address{
    margin-left: auto;
}

.contacts-nav{
    display: flex;
    flex-direction: row;

    margin-left: 332px;
    list-style: none;
}

.contacts-nav .item:not(:last-child){
    margin-right: 40px;
}

.now-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    color: var(--link-color);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    transition: color var(--anim-slow);
}

.now-link:hover,
.now-link:focus{
    color: var(--main-color);

}

.navigation-nav .current-line{
    color: var(--button-color);
    position: relative;
}

.current-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--button-color);
    border-radius: 2px;
}

.list-portfolio{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.list{
    display: flex;
    list-style: none;
}

.box-foto{
    margin-right: 24px;
}

.box-foto:last-child{
    margin-right: 0px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    list-style: none;    
}

.link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--now-link-color);
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: normal;
    transition: color var(--anim-slow);
}

.link:focus,
.link:hover{
    color: var(--button-color);
}

.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
    margin: 0 auto;

    text-align: center;

    background: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/people_office.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: cover;
}

.hero-two{
    margin-top: 0px;
}

.hero-title{
    margin-bottom: 48px;
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button{
    border: none;
    border-radius: 4px;
    padding: 16px 32px;

    color: var(--white-color);
    background-color: var(--main-color);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;

    transition: background-color var(--anim-slow);
}

.hero-button:focus,
.hero-button:hover{
    background-color: var(--button-color);
    color: var(--white-color);
}

.section-info{
    padding-top: 120px;
}

.section.info{
    padding-bottom: 0;
}

.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.box{
    min-width: 264px;
    margin-right: 24px;
}

.box:last-child{
    margin-right: 0px;
}

.section.team{
    padding-top: 0px;
}

.future-title{
    margin-bottom: 8px;

    color: var(--link-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.future-list{
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0px;
}

.future-blok{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;

    background-color: var(--logo-color);
}

.future-box{
    text-align: center;
    min-width: 232px;
    padding: 32px 16px;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    background-color: var(--main-color);
    border-radius: 50%;
    fill: var(--logo-color);
   
    transition: background-color var(--anim-slow);
}

.socials-link:hover,
.socials-link:focus{
    background-color: var(--button-color);
}

.group{
    width: 360px;
}

.overlay-group{
    display: block;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    padding: 40px 32px 164px 32px;
    backdrop-filter: blur(2px);
    background-color: var(--main-color);

    transition: transform var(--anim-slow);
}


.group-item:hover .overlay,
.group-item:focus .overlay{
    transform: translateY(0%);
}

.overlay-text{
    color: var(--logo-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.group-item{
    text-decoration: none;
}

.foto-group{
    padding: 32px 16px;
    border-left: 1px solid var(--logo-color);
    border-bottom: 1px solid var(--logo-color);
    border-right: 1px solid var(--logo-color);
}

.group-item:hover .foto-group,
.group-item:focus .foto-group{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-color: var(--logo-color);
    outline: transparent;
    transition: var(--anim-slow);
}

.group-item:hover,
.group-item:focus{
    outline: transparent;
    transition: var(--anim-slow);
}

.future-text{
    display: inline-block;
    
    color: var(--now-link-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.future-text.socials{
    display: inline-block;
    
    color: var(--now-link-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.future-group{
    padding-top: 120px;
}

.section-title{
    margin-top: 0px;
    margin-bottom: 72px;
    text-align: center;

    color: var(--link-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-title-one{
    margin-top: 0px;
    margin-bottom: 72px;
    text-align: center;

    color: var(--link-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.background{
    background-color: var(--logo-color);
}

.box-color{
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

    background-color: var(--white-color);
}

.box-color .future-box{
    padding: 32px 16px;
    min-width: 232px;
}

.customers-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers{
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 1158px;
    margin: 0px auto;
}

.customers-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 168px;
    height: 88px;
    border: 1px solid var(--border-radius);
    border-radius: 4px;
    outline: transparent;
    transition: fill var(--anim-slow), border var(--anim-slow);
}

.customers-icon{
    fill: var(--border-radius);
    transition: var(--anim-slow);
}

.customers-link:hover,
.customers-link:focus{
    border: 1px solid var(--button-color);
    transition: var(--anim-slow);
}

.customers-link:focus .customers-icon,
.customers-link:hover .customers-icon {
    fill:  var(--button-color);

}

.footer{
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: var(--link-color);
}

.footer-icon{
    display: flex;
    justify-content: flex-start;

    padding-right: 15px;
    width: 1158px;
    margin: 0px auto;
}

.footer-icon-item{
    align-items: center;
    justify-content: center;
    
}

.footer-icon-item{
    margin-right: 120px;
}

.footer-icon-item:last-child{
    margin-right: 0px;
}

.conteiner.blok{
    width: 264px;
}

.conteiner-footer{
    display: block;
    justify-content: flex-start;
    width: 208px;
    height: 80px;
}

.socials-footer{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.logo-footer{
    display: inline-block;
    margin-bottom: 17px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
    color: var(--logo-color);
}

.socials-link-footer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    background-color: var(--background-footer);

    border-radius: 50%;

    transition: background-color var(--anim-slow);
}

.socials-icon-footer{
    fill: var(--logo-color);
}

.socials-link-footer:hover, 
.socials-link-footer:focus{
    background-color: var(--footer-hover);
}


.social-text{
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.text-footer{
    max-width: 264px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.now-button{
    padding: 12px 24px;
    background-color: var(--logo-color);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.list-portfolio{
    list-style: none;
}

.portfolio-btn{
    margin-left: 24px;
}

.now-button{
    border-radius: 4px;
    outline: transparent;
    transition: color var(--anim-slow), background-color var(--anim-slow);
}

.now-button:focus,
.now-button:hover{
    background-color: var(--button-color);
    color: var(--white-color);
    transition: var(--anim-slow);
    
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: transparent;
}

.portfolio-btn:first-child{
    margin-left: 0px;
}

.backdrop{
    position: fixed;
    top: 0;
    z-index: var(--modal-idx);

    width: 100%;
    height: 100%;

    background-color: var(--backdrop);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--anim-slow), visibility var(--anim-slow);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    padding: 30px;
    width: 408px;
    height: 576px;
    background-color: var(--modal-background);

    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity var(--anim-slow) 300ms, var(--anim-slow) 300ms;
}

.backdrop.is-hidden .modal{
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.3);
}

.modal-btn{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%) translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    border: none;
    background-color: var(--border-color);
    border-radius: 50%;
    background: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-icon{
    fill: var(--link-color);
}